/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #6a6a6a;
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 3em;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 2em;
    color: #4CAF50;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

p {
    line-height: 1.6;
}

/* Adicionando um estilo de responsividade para dispositivos móveis */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }
    
    header h1 {
        font-size: 2em;
    }
    
    section h2 {
        font-size: 1.5em;
    }
}
